.northern {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ee82ee;
}

.southern {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7fffd4;
}